#pane{
    -fx-background-image: url("../../../../ressources/background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1500 1000;
    -fx-background-position: center center;
}

#but{
    -fx-background-color: rgba(217, 217, 217, .7);
    -fx-background-radius: 20,7,6;

}
#but:pressed{
    -fx-background-color: rgba(150, 150, 150, .9);
}